<div class="user-details">
  <h1>Academic Publications</h1>
  <p>
  <ul>
    <li>
      <strong>Title:</strong> NCL4WEB: translating NCL applications to HTML5 web pages<br>
      <strong>Authors:</strong> Esdras Caleb Oliveira Silva; Joel A. F. dos Santos; Débora C. Muchaluat-Saade<br>
      <strong>Published in:</strong> <a href="https://dl.acm.org/doi/10.1145/2494266.2494273">DocEng 2013</a><br>
    </li>
    <li>
      <strong>Title:</strong> JNS: An alternative authoring language for specifying NCL multimedia documents<br>
      <strong>Authors:</strong> Esdras Caleb Oliveira Silva; Joel A. F. dos Santos; Débora C. Muchaluat-Saade<br>
      <strong>Published in:</strong> <a href="https://ieeexplore.ieee.org/document/6618452">ICMEW 2013</a><br>
    </li>
  </ul>
  </p>
</div>

